<!-- Top -->
<div class="topnav">
    <a class="sitename" style="float:left; font-family: Verdana; font-size:150%" href="/">SFSU Software Engineering Project CSC 648-848, Summer 2018.  For Demonstration Only</a>
    <% if (user == 'guest') { %>
    <a class="signup" style="padding-bottom:20px; padding-top:20px" href="/register">Sign Up</a>
    
    <a class="login" style="padding-bottom:20px; padding-top:20px;" href="/login">Log In</a>
    <% } else { %>
    <a class="login" style="padding-bottom:20px; padding-top:20px;" href="/logout">Logout</a>
    <a class="login" style="padding-bottom:20px; padding-top:20px;" href="#">Hello, <%= user %></a>
    <% } %>
    <a class="login" style="padding-bottom:20px; padding-top:20px;" href="/about" target="_blank">About</a>
    <a class="upload" style="padding-bottom:20px; padding-top:20px;" href="/upload"> Upload Photo </a>
</div>