<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
      Software Engineering class SFSU<br>
      Summer 2018<br>
      Section 01<br>
      Team 04<br><br>

      Hi, My name is An Dao!


  </div>
</div>


</body>
</html>
