<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>

<body>

<%- include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
      Software Engineering class SFSU<br>
      Summer 2018<br>
      Section 01<br>
      Team 04<br>
      <br>
      <a type="button" class="btn btn-lg btn-default" href="/about/ScottPenn"><span class="glyphicon glyphicon-table-tennis"></span>Scott Penn</a><br><br>
      <a type="button" class="btn btn-lg btn-default" href="/about/AnDao"><span class="glyphicon glyphicon-table-tennis"></span>An Dao</a><br><br>
      <a type="button" class="btn btn-lg btn-default" href="/about/AndrewAndrawo"><span class="glyphicon glyphicon-table-tennis"></span>Andrew Andrawo</a><br><br>
      <a type="button" class="btn btn-lg btn-default" href="/about/AnitaZhen"><span class="glyphicon glyphicon-table-tennis"></span>Anita Zhen</a><br><br>
      <a type="button" class="btn btn-lg btn-default" href="/about/NickStepanov"><span class="glyphicon glyphicon-table-tennis"></span>Nick Stepanov</a><br><br>
      <a type="button" class="btn btn-lg btn-default" href="/about/BrandonTong"><span class="glyphicon glyphicon-table-tennis"></span>Brandon Tong</a><br><br>

  </div>
</div>

</body>
</html>
