<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title> Upload Page</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
		<style type="text/css">
		
			body {
				margin:0;
				padding:0;
				font-family: Sans-Serif;
				line-height: 1.5em;
			}
			
			header {
				background: lightblue;
				height: 100px;
			}
			
			header h1 {
				margin: 0;
				padding-top: 15px;
			}
			
			main {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 100%;
			}
			
			nav {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 230px;
				margin-left: -230px;
				background: #eee;
			}
			
			footer {
				clear: left;
				width: 100%;
				background: lightblue;
				text-align: center;
				padding: 4px 0;
			}
		
			#wrapper {
				overflow: hidden;
			}
						
			#content {
				margin-right: 230px; /* Same as 'nav' width */
			}
		
		#description
		{
		
		width = 800px;
		font-size:14pt;
		}
			
			.innertube {
		text-align: center;
				margin: 15px; /* Padding for content */
				margin-top: 0;
			}
		
			p {
				color: #555;
			}
		
			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			
			nav ul a {
				color: darkgreen;
				text-decoration: none;
			}
		
		</style>
		
	</head>
	
	<body>
		<% include ../partials/nav.ejs %>
		
		<div id="wrapper">
			
			<main>
				<div id="content">
					<img src="/images/StockPhotos/<%= fileName %>"  >
					<br><br>
					<p>Description: <%= description %></p><br>
					<p> <%= name %> </p><br>
					<button type="submit">Download</button>
					<br>
					<p>Please note that by downloading you agree to not sue us please. There are no refunds for any of our photos.</p></div>
				</main>
				
				<nav>
					<div class="innertube">
						<h3>Our Sponsors</h3>
						<ul>
							<li><a href="#">Your ad can be here</a></li>
							<li><a href="#">Your ad can be here</a></li>
							<li><a href="#">Your ad can be here</a></li>
							<li><a href="#">Your ad can be here</a></li>
							<li><a href="#">Your ad can be here</a></li>
						</ul>
					</div>
				</nav>
				
			</div>
			
			<footer>
				<div class="innertube">
					<p>Thank you for choosing STOCK OVERFLOW!</p>
				</div>
			</footer>
			
		</body>
	</html>