<!DOCTYPE html>
<html>
	<head>
		<title>Stock Overflow</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
		<script src="/jquery/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	</head>
	<body>
		
		<%- include ../partials/nav.ejs %>
		
		<div class="largeimage">
			<img class="background" src="/images/city.jpg">
			<div class="centered">Your Ultimate Photo Destination</div>
			<div class="search">
				<input type="text" name="search" placeholder="Search..">
			</div>
			<div class="vl"></div>
			<a class="button button4" href="upload"> Upload </a>
		</div>
		
		<!-- Middle -->
		<div class="row">
			<div class="column">
				<div class="container">
					<img  src="/images/beach.jpg" style="width:100%">
					<div class="after"> Beaches </div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<img src="/images/candy.jpg" style="width:100%">
					<div class="after"> Candy </div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<img src="/images/landscape2.jpg" style="width:100%">
					<div class="after"> Landscapes </div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<img src="/images/lion.jpg" style="width:100%">
					<div class="after"> Animals </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<div class="container">
					<img src="/images/nature2.jpg" style="width:100%">
					<div class="after"> Nature </div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<img src="/images/cat.jpg" style="width:100%">
					<div class="after"> Cats </div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<img src="/images/cityscape.jpg" style="width:100%">
					<div class="after"> Cityscapes </div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<img src="/images/ocean.jpg" style="width:100%">
					<div class="after"> Oceans </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<div class="container">
					<img src="/images/hamburger.jpg" style="width:100%">
					<div class="after"> Statues </div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<img src="/images/festival.jpg" style="width:100%">
					<div class="after"> Festivals </div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<img src="/images/nebula.jpg" style="width:100%">
					<div class="after"> Space </div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<img src="/images/cafe.jpg" style="width:100%">
					<div class="after"> Cafes </div>
				</div>
			</div>
		</div>
		
		<!-- Footer -->
		<div class="footer"></div>
		
	</body>
</html>